{% extends "layout.html" %}

{% block title %}修改密码 - {{ config.pkg.name }}{% endblock %}

{% block content %}
  <form method="post">
    {% if oauth %}
      <div class="alert alert-primary" role="alert">
        注册成功即可关联您的 {{ oauth.type }}@{{ oauth.uid }} 帐号，或者 <a href="/user/exit?ref=/user/reg">清空</a> 授权信息。
      </div>
    {% endif %}

    <input type="text"  name="username" autocomplete="username" value="{{ userinfo.username }}" style="display: none;">
    <div class="form-group">
      <label for="password">当前密码</label>
      <input type="password" class="form-control" id="password" name="password" required maxlength="16" autocomplete="current-password">
    </div>
    <div class="form-group">
      <label for="newpassword">新密码</label>
      <input type="password" class="form-control" id="newpassword" name="newpassword" required maxlength="16" autocomplete="new-password">
    </div>
    <div class="form-group">
      <label for="newpassword2">重复新密码</label>
      <input type="password" class="form-control" id="newpassword2" name="newpassword2" required maxlength="16" autocomplete="new-password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">更新</button>
    </div>
  </form>
{% endblock %}