{% extends "layout.html" %}

{% block title %}登录 - {{ config.pkg.name }}{% endblock %}

{% block content %}
  <form method="post">
    {% if oauth %}
      <div class="alert alert-primary" role="alert">
      登录成功即可关联您的 {{ oauth.type }}@{{ oauth.uid }} 帐号，或者 <a href="{{ config.pkg.prefix }}/user/exit?ref={{ config.pkg.prefix }}/user/reg">清空</a> 授权信息。
      </div>
    {% endif %}
    <div class="form-group">
      <label for="username">用户名</label>
      <input type="text" class="form-control" id="username" name="username" required maxlength="16" autocomplete="username">
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" id="password" name="password" required maxlength="16" autocomplete="current-password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">登录</button>
      <a href="{{ config.pkg.prefix }}/user/reg" class="ml-2">没有帐号？立即注册</a>
    </div>
    <div class="mt-5">
      第三方登录：<a href="{{ config.pkg.prefix }}/user/login/github">GitHub</a>
    </div>
  </form>
{% endblock %}